langchain
fastapi
pypdf
uvicorn
Pydantic
langchain-pinecone
langchain-groq
dotenv
langchain-text-splitters
langchain-community
langchain-openai
langchain-huggingface
python-multipart
sentence-transformers